.App {
  /* text-align: center; */
}

.tab1,
.tab2,
.tab3 {
  width: 200px;
  height: 50px;
  margin: 5px;
  /* padding-top: 10px; */
  text-align: center;
  font-size: larger;
  border: 2px solid #282c34;
}

.tab1:hover,
.tab2:hover,
.tab3:hover {
  background: gray;
  color: antiquewhite;
}

.tab1:active,
.tab2:active,
.tab3s:active {
  box-shadow: inset 0 0 2px 2px rgba(0,0,0,.3);
}

.black {
  box-shadow: 0 0 2px 2px rgb(0, 225, 255);
}
.tab1,
.red {
  color: whitesmoke;
  background: rgb(95, 27, 27);
}
.tab2,
.yellow {
  color: whitesmoke;
  background: rgb(95, 85, 27);
}
.tab3,
.green {
  color: whitesmoke;
  background: rgb(33, 95, 27);
}

.tabBar{
  display: flex;
}

.textBox {
  text-align: center;
  border: 2px solid #282c34;
  margin-top: 2%;
  width: 600px;
  height: 20%;
  margin: 5px;
}

.box{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
